div{
    background-color: rgba(69, 66, 82, 0.72);
    color: rgb(17, 17, 17);
    padding: 10px;
    transition: 0.7s;
}
button{
    background-color: white;
    border: none;
    border-radius: 5px;
    
}
.pass{
    background-color: black;
    color: white;
    padding: 10px;
    transition: 0.7s;
}